
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2>Register</h2>

<form action="/Home/Register" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>First name:</td>
            <td><input type="text" name="fname" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" name="lname" /></td>
        </tr>
        @*<tr>
                <td>City:</td>
                <td>
                    <input type="text" name="location"/>
                </td>
            </tr>*@
    </table>
    <input type="submit" value="Register" />
</form>
@ViewData["wrongInput"]

